html {box-sizing: border-box; margin: 0; padding: 0;}
*, *:before, *:after {box-sizing: inherit;}

:root {--green-titles: hsla(144, 100%, 30%, 1); --green-background: hsla(107, 39%, 40%, 0.6); --green-border: hsla(144, 100%, 20%, 1); 
--brown-background: linear-gradient(45deg, hsla(19, 69%, 10%, 0.9), hsla(19, 69%, 20%, 0.4)); font-size: 20px;}

#background-image {width: 120%; margin-left: -11%;}

#main {display: block; max-width: 90vw; margin: auto; text-align: center; font-family: 'Arvo', serif;}

#title {margin-top: 3%;}

.brown-background {background-image: var(--brown-background);}
.box-shadow {box-shadow: 0 20px 40px rgba(0,0,0,0.5), 0 12px 12px rgba(0,0,0,0.75);}

h1, h2 {
	font-family: "Satisfy", cursive; 
	font-size: 3rem; 
	color: var(--green-titles); 
	text-shadow: 2px 2px 10px hsla(0, 0%, 4%, 1), 2px 2px 10px hsla(0, 0%, 8%, 1), 2px 2px 10px hsla(0, 0%, 10%, 1), 2px 2px 10px hsla(0, 0%, 12%, 1);
	padding: 2%; 
	}

#img-div {margin: 10% 0;}

#image {display: block; max-width: 80vw; margin: auto; opacity: 0.9; filter: contrast(90%) brightness(90%);}

#img-caption {display: table; margin: auto; background-color: var(--green-border);}

#tribute-info {
	background-color: var(--green-background);
	text-align: left;  
	padding: 20px;
	margin: 8% 1%;
	border-radius: 1%;
	}

#tribute-info a {text-decoration: none; color: blue;}

strong {font-size: 1.5rem;}

.float-left {float: left; max-width: 25%; height: auto; margin: -1% 1% 0 0;}

.float-right {float: right; max-width: 25%; height: auto; margin: -1% 0 0 1%;}

.border {border: 7px solid var(--green-border); border-radius: 1%;}

#business-card {display: block; max-width: 80vw; height: auto; margin: auto; opacity: 0.8; }

footer {
	text-align: center; 
	font-size: 1.5rem; 
	color: var(--green-titles); 
	margin: 10% 0; 
	padding: 10px 0; 
	transition: all 0.5s linear 0.25s;
	}
	
footer:hover {background: var(--green-background);}

#tribute-link {text-decoration: none; color: hsla(55, 100%, 38%, 1);}

@media (orientation: landscape) and (max-width: 1000px)
{
#background-image {width: 150%; margin-left: -25%;}
p {font-size: 1.25rem;} 
h1, h2 {font-size: 2.5rem;} 
strong {font-size: 1.4rem;}
}

@media (orientation: portrait) and (max-width: 700px)
{
#background-image {width: 250%; margin-left: -45%;}
p {font-size: 0.7rem;}
h1, h2 {font-size: 1.4rem;} 
strong {font-size: 0.7rem;}
.border {border-width: 3px;}
.float-left {float: none; display: block; max-width: 50vw; height: auto; margin: auto;}
.float-right {float: none; display: block; max-width: 50vw; height: auto; margin: auto;}
}

.parallax {
  perspective: 1px;
  height: 97.9vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  }